<tr>
  <td class="mod-table-col">{{data.nickName}}</td>
  <td class="mod-table-col">{{data.gender==='1' ?'Nam':"Nữ"}}</td>
  <td class="mod-table-col">{{data.role}}</td>
  <td class="mod-table-col">{{data.phone}}</td>
  <td class="mod-table-col">{{data.email}}</td>
  <td class="mod-table-col">
    <button class="bg-default button" ng-click="handlUpdate(data.id)">
      <span
        class="iconify"
        data-icon="akar-icons:edit"
        data-width="20"
        data-height="20"
      ></span>
    </button>

    <button class="bg-remove button" ng-click="handlDelete(data.id)">
      <span
        class="iconify"
        data-icon="fluent:delete-28-filled"
        data-width="20"
        data-height="20"
      ></span>
    </button>
  </td>
</tr>
