<!-- <div ng-if="!formsearch" class="formControl">
  <input
    class="forminput"
    placeholder="{{placeholder}}"
    type="{{type}}"
    ng-model="value"
  />
  <div ng-show="form.uName.$error.required">Tell us your name.</div>
</div> -->

<div class="formControl">
  <div class="iconsearch">
    <span
      class="iconify"
      data-icon="bx:bx-search"
      data-width="22"
      data-height="22"
    ></span>
  </div>
  <input
    class="forminput addIcon"
    placeholder="{{placeholder}}"
    type="{{type}}"
    ng-model="value"
  />
</div>
