<div class="mod-register">
  <h2 class="headline size-1 text-center">THE COFFEE</h2>
  <p class="size-4 mt-15 text-center">Đăng ký</p>
  <form>
    <div class="form-group mt-15">
      <div class="form-control-input">
        <input
          type="email"
          class="forminput"
          name="email"
          [(ngModel)]="account.email"
          #email="ngModel"
          placeholder="example@gmail.com"
          required
          email
        />
        <div
          *ngIf="email?.errors && isValidator"
          class="alert size-5 alert-danger"
        >
          <div *ngIf="email?.errors?.['required']">Email is required</div>
          <div *ngIf="email?.errors?.['email']">
            Email is invalid!
          </div>
        </div>
      </div>
    </div>
    <div class="form-group mt-15">
      <div class="form-control-input">
        <input
          type="text"
          class="forminput"
          name="username"
          [(ngModel)]="account.username"
          #username="ngModel"
          placeholder="Nguyen Van A"
          required
        />
        <div
          *ngIf="username?.errors && isValidator"
          class="alert size-5 alert-danger"
        >
          <div *ngIf="username?.errors?.['required']">Username is required </div> 
        </div>
      </div>
    </div>
    <div class="form-group mt-15">
      <div class="form-control-input">
        <input
          type="password"
          class="forminput"
          placeholder="**********"
          required
          name="password"
          [(ngModel)]="account.password"
          #password="ngModel"
        />
        <div
          *ngIf="password?.errors && isValidator"
          class="alert size-5 alert-danger"
        >
          <div *ngIf="password?.errors?.['required']">Password is required </div> 
        </div>
      </div>
    </div>
    <div class="form-group flex-center mt-15">
      <button
        class="button bg-default"
        (click)="
          email.errors || password.errors ? setIsvalidator() : register()
        "
      >
        Đăng ký
      </button>
    </div>
    <div class="form-group flex-center mt-15">
      <a routerLink="/login" class="size-5 cursor link" title="tạo tài khoản"
        >Quay lại đăng nhập</a
      >
    </div>
  </form>
</div>
