<div class="mod-list-account mb-5 mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="headline size-0">PRODUCT MANAGEMENT</h1>
    <div class="d-flex gap-12">
      <mod-form-search
        class="w-100"
        formsearch="'true'"
        type="'text'"
        placeholder="'search'"
        value="initcondition.name"
      ></mod-form-search>

      <button class="button bg-second" ng-click="handleCreated()">Add</button>
      <button class="button bg-remove" ng-click="hanldRest()">
        <span
          class="iconify"
          data-icon="system-uicons:reset-forward"
          data-width="20"
          data-height="20"
        ></span>
      </button>
    </div>
  </div>
  <div class="mt-5">
    <mod-card padding="'12'">
      <table class="mod-table">
        <thead class="mod-table-header">
          <tr>
            <th
              ng-repeat="item in CONTENTS_LIST_WIDTH track by $index"
              ng-style="{'width':item.width,'min-width': item.width}"
              class="mod-table-col"
            >
              {{item.name}}
              <span ng-if="item.key" ng-click="sortBy(item.key)">
                <span
                  class="iconify"
                  data-icon="fa-solid:sort"
                  data-width="16"
                  data-height="16"
                ></span>
              </span>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            ng-repeat="item in initData | filter:initcondition |orderBy:propertyName:reverse track by $index"
          >
            <td class="mod-table-col">{{item.name}}</td>
            <td class="mod-table-col">
              <div class="text-center avatar">
                <img
                  ng-src="{{item.image}}"
                  width="100%"
                  height="100%"
                  alt="logo"
                />
              </div>
            </td>
            <td class="mod-table-col">{{item.category}}</td>
            <td class="mod-table-col">{{item.size }}</td>
            <td class="mod-table-col">
              <button
                class="bg-default button"
                ng-click="handlUpdateProduct(item.id)"
              >
                <span
                  class="iconify"
                  data-icon="akar-icons:edit"
                  data-width="20"
                  data-height="20"
                ></span>
              </button>

              <button
                class="bg-remove button"
                ng-click="handlDeleteProductById(item.id)"
              >
                <span
                  class="iconify"
                  data-icon="fluent:delete-28-filled"
                  data-width="20"
                  data-height="20"
                ></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mod-card>
    <pagiton
      length="initData.length"
      totalitems="totalItems"
      currentpage="currentPage"
      numperpage="numPerPage"
      pagechanged="pageChanged"
    ></pagiton>
  </div>
</div>
