.mod-login {
  width: 470px;
  max-width: calc(100vw - 24px);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1.2rem;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: 1px 3px 3px rgb(0 0 0 / 10%);
}
.alert-danger{
  color: rgb(255, 0, 0);
}
