<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FountainJS</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link rel="stylesheet" href="index.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->

    <script src="/angular/angular.js"></script>
    <script src="/bootstrap/dist/css/bootstrap.min.css"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/angular-cookies/angular-cookies.min.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="./lib/angular-resource/angular-resource.js"></script>
    <script src="/angular-sanitize/angular-sanitize.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/angular-toastr/dist/angular-toastr.min.css"
    />
    <script src="/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="./index.js"></script>
    <script src="./router.js"></script>
    <script src="./core/core.module.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <script src="./app/Layouts/Layout.module.js"></script>
    <script src="./core/AccountService/Account.Service.module.js"></script>
    <script src="./core/AccountService/Account.Service.js"></script>
    <script src="./core/CoffeeService/coffeeService.module.js"></script>
    <script src="./core/CoffeeService/coffeeService.js"></script>

    <script src="./core/publicService/Public.Service.module.js"></script>
    <script src="./core/publicService/Public.Service.js"></script>
    <script src="./core/Gurad/gurad.service.module.js"></script>
    <script src="./core/Gurad/gurad.servise.js"></script>

    <script src="./app/Account/account.module.js"></script>
    <script src="./app/Components/Avatar/avatar.controller.js"></script>

    <script src="./app/Components/FormControl/formControl.controller.js"></script>
    <script src="./app/Components/FormSearch/formSearch.controller.js"></script>

    <script src="./app/Components/Modal/modal.controller.js"></script>
    <script src="./app/Components/TableApp/tableApp.controller.js"></script>

    <script src="./app/Layouts/Header/header.module.js"></script>
    <script src="./app/Layouts/Header/header.controller.js"></script>
    <script src="./app/Layouts/Header/header.component.js"></script>

    <script src="./app/Layouts/Slider/slider.module.js"></script>
    <script src="./app/Layouts/Slider/slider.controller.js"></script>
    <script src="./app/Layouts/Slider/slider.component.js"></script>

    <script src="./app/Gurad/Login/login.module.js"></script>
    <script src="./app/Gurad/Login/login.controller.js"></script>
    <script src="./app/Gurad/Login/login.component.js"></script>

    <script src="./app/Gurad/Register/register.module.js"></script>
    <script src="./app/Gurad/Register/register.controller.js"></script>
    <script src="./app/Gurad/Register/register.component.js"></script>

    <script src="./app/Account/account.controller.js"></script>
    <script src="./app/Account/account.component.js"></script>

    <script src="./app/Coffee/coffee.controller.js"></script>
    <script src="./app/Coffee/coffee.component.js"></script>
  </head>
  <body ng-app="index">
    <div ng-if="globals ">
      <mod-header>
        <div ng-view class="view-frame"></div>
      </mod-header>

      <mod-slider></mod-slider>
    </div>
    <div ng-if="!globals">
      <div ng-view class="view-frame"></div>
    </div>
  </body>
</html>
