<div class="mod-list-account mb-5 mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="headline size-0">ACCOUNT MANAGEMENT</h1>
    <div class="d-flex gap-12">
      <form ng-submit="search(query)">
        <mod-form-search
          class="w-100"
          formsearch="'true'"
          type="'text'"
          placeholder="'Search...'"
          value="query"
        ></mod-form-search>
      </form>
      <button class="button bg-second" ng-click="handleCreated()">Add</button>
      <button class="button bg-remove" ng-click="hanldRest()">
        <span
          class="iconify"
          data-icon="system-uicons:reset-forward"
          data-width="20"
          data-height="20"
        ></span>
      </button>
    </div>
  </div>
  <div class="mt-5">
    <mod-table-app
      tabheader="CONTENTS_LIST_WIDTH"
      data="initData"
      update="handlUpdateAccount"
      delete="handlDeleteAccountById"
      length="initData.length"
      totalitems="totalItems"
      currentpage="currentPage"
      numperpage="numPerPage"
      pagechanged="pageChanged"
    >
    </mod-table-app>
  </div>
</div>
